body {
	font-family: arial, sans-serif;
	margin: 0 auto;
	max-width: 1240px;
}

header {
	background-color: #1b5589;
	padding: 10px 40px;
}

.logo, nav {
	display: inline-block;
}

header ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ml-auto {
	display: flex;
	justify-content: center;
}

header li {
	margin-left: 20px;
}

header a {
	color: #8ca2b5;
}

.link:hover, .link:active, .active {
	color: #ffffff;
	text-decoration: none;
}

h1 {
	text-align: center;
	color: #363542;
	font-weight: 100;
	font-family: ArialLight;
	font-size: 34px;
}

h2 {
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	margin: 0;
}

main {
	padding: 0 40px;
	padding-bottom: 40px;
}

#photo {
	display: none;
}

#photo + label {
	cursor: pointer;
}

